*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    
    font-family: montserrat;
    
    
}

nav{
    background:#0082e6;
    height: 80px;
    width: 100%;
    
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}


nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    
    display: inline-block;
    line-height: 85px;
    margin: 0 5px
}

nav ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 40px;
    color: white;
    float: right;
    
line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    
}
#check{
    display: none;
    
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px
    }
    
    nav ul li a{
        font-size: 10px;
        
        
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 40%;
        height: 100vh;
        background: #2c3e50;
        text-align: center;
        top:80px;
        left: -100%;
        transition:all .5s;
        text-align: center;
        border-radius: 9px;
        border: 3px solid firebrick; 
    }
    nav ul li{
        display: block;
        
    }
    nav ul li a{font-size:20px}
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked~ul{
        left: 0;
        
    }
}

#section{
    background-image: url(images/4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh);
}

.footer{
    
    position: absolute;
    margin-top: 85vh;
    position: fixed;
}
.footer p{
    color: lawngreen;
    
}
